.nav{
	background-color: lightblue;
	font-size: 25px;
	border: 2px solid black;
}

.index
{
	padding-top: 50px;
	padding-left: 25px;
}
.index-body
{
	padding-top: 25px;
	border: 2px solid black;
	background-color: lightblue;
	font-size: 20px;
}
h1.index-header{
	font-size: 55px;
	padding-bottom: 25px;
}
.contacts
{
	padding-top: 50px;
	padding-left: 25px;
	font-size: 20px;
}
.contact-header
{
	font-size: 50px;
}